body {
    background: #eee;
    box-sizing: border-box;
    margin-bottom: 1.4rem;
}

.ss {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f14d0c;
    padding: 0.2rem;
}

input:-moz-placeholder {
    color: #ccc;
    border: none;
}

.ins {
    border: none;
}


/* 消除input默认 */

input {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
}

.f25 {
    font-size: .26rem;
    color: #ccc;
}

.searachs {
    padding: 0.1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 90%;
    border-radius: .2rem;
}

.swipers {
    height: 3.2rem;
}

.swipers img {
    width: 100%;
    height: 100%;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem 0.4rem;
    background: #fff;
}

.f32 {
    font-size: 0.82rem !important;
    color: #f14d0c;
}

.icons_name {
    font-size: .28rem;
    text-align: center;
    color: #353533;
    ;
}

.icons_item {
    text-align: center;
}

.list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list_items img {
    height: 2.6rem;
    width: 3.5rem
}

.list_items {
    background: #fff;
    margin-top: .2rem;
    padding-bottom: 0.2rem;
}

.items_name {
    padding-left: .21rem;
    font-size: .26rem;
    color: #353535;
}

.items_price {
    font-size: .3rem;
    color: #f14d0c;
    margin-top: .28rem;
    padding-left: .2rem;
}

.footers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.2rem 0;
}

.fbtn {
    font-size: .42rem !important;
    color: #FF0000;
    text-align: center;
}

.footers_name {
    font-size: .22rem;
    color: #f14d0c;
    text-align: center;
}

.footers_item {
    width: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}